{% extends 'main/index.html' %}
{% block content %}
     <form method="post">
       {% csrf_token %}
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
  <div class="col-lg-3 col-md-6 col-sm-12 ms-auto">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Авторизация</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating">
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="Адрес электронной почты"
                           required>
                </div>
                <div class="mb-3">
                    <label for="password">Пароль:</label>
                    <input type="text" name="password" class="form-control" id="password"
                           placeholder="Пароль" required>
                </div>
                <button type="submit" class="p-2 btn btn-outline-primary">Войти</button>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:password_reset' %}">Восстановить пароль</a>
            </form>
        </div>
    </div>
 </div>

</form>
{% endblock %}