{% extends 'main/index.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h5 class="display-6">Страница рассылок</h5>
</div>


<div class="container col-10">
    <div class="card">
        <div class="card-header text-center">
            <h5>Рассылки</h5>
        </div>
        <div class="card-body">
            <div class="col-12 text-center">
                <table class="table">
                    <tr>
                        <th><h5>Дата начала рассылки</h5></th>
                        <th><h5>Дата окончания рассылки</h5></th>
                        <th><h5>Периодичность рассылки</h5></th>
                        <th><h5>Статус рассылки</h5></th>
                        <th><h5>Тема</h5></th>
                        <th><h5>Посмотреть рассылку</h5></th>
                        <th><h5>Редактировать рассылку</h5></th>
                        <th><h5>Удалить рассылку</h5></th>
                    </tr>
                    {% for object in object_list %}
                    <tr>
                        <td><h6>{{ object.start_datetime}}</h6></td>
                        <td><h6>{{ object.stop_datetime}}</h6></td>
                        <td><h6>{{ object.get_periodicity_display }}</h6></td>
                        <td><h6>{{ object.get_status_display }}</h6></td>
                        <td><h6>{{ object.title }}</h6></td>
                        <td><h6>
                            <a class="btn btn-lg btn-primary"
                               href="{% url 'mailings:mailing_detail' object.pk %}">Просмотр</a>
                        </h6></td>
                        <td><h6>
                            <a class="btn btn-lg btn-warning"
                               href="{% url 'mailings:mailing_edit' object.pk %}">Редактирование</a>
                        </h6></td>
                        <td><h6>
                            <a class="btn btn-lg btn-danger"
                               href="{% url 'mailings:mailing_delete' object.pk %}">Удаление</a>
                        </h6></td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row text-right mt-4">
        <div class="col-12">
            <a class="btn btn-secondary my-2" href="{% url 'mailings:mailing_create' %}">Создать рассылку</a>
        </div>
    </div>
</div>
{% endblock %}